.participants_bg {
<<<<<<< HEAD:src/Pages/Participants/Participants.scss
  background-image: url(../../assets/imgs/bg03.jpg);
=======
  background-image: url("/public/assets/imgs/bg03.jpg");
>>>>>>> 0a18bb72b0786c983ca63a353e9598635b3909c7:src/pages/Participants/Participants.scss
  background-size: cover;
  background-position: center;
  min-height: 750px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: rgb(250, 233, 213);
  font-size: 20px;
  position: relative;

  .players_container {
    max-width: 900px;
    object-fit: cover;
    margin-inline: auto;
    text-align: justify;
    background-color: rgb(94, 75, 60, 0.9);
    color: rgb(250, 233, 213);
    padding: 25px;
    border-radius: 10px;

    .card_player + .card_player {
      margin-top: 5px;
    }
    .card_player {
      background-color: white;
      display: flex;
      gap: 10px;
      margin-inline: auto;
      justify-content: center;
      padding: 5px;
      max-width: 400px;
      border: 1px solid black;
      border-radius: 5px;

      .player {
        img {
          object-fit: cover;
          width: 90px;
          height: 100%;
          display: block;
          border-radius: 5px;
        }
      }
      .player_infos {
        h3 {
          border-bottom: 1px solid gray;
          color: rgb(130, 39, 23);
          line-height: 100%;
          padding-bottom: 5px;
        }
        p {
          padding-top: 10px;
          color: black;
          font-size: 16px;
          padding-bottom: 35px;
        }
      }
    }
  }
}
