.event {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .content {
    flex: 1;
    text-align: center;

    color: white;
    padding-top: 100px;
    padding-bottom: 100px;


    img {
      width: 250px;
      height: 250px;
      margin: 15px auto;
      display: block;
         }
  }
}
