.container {
  position: relative;
  .main_menu {
    background-image: url(../../assets/imgs/bbq-bg1.jpeg);
    background-size: cover;
    background-position: center;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(250, 233, 213);
    font-size: 50px;
    text-shadow: 1px 1px black;
    position: relative;

    .buttons {
      z-index: 1;
      display: flex;
      gap: 15px;
    }

    &::after {
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.2);
    }
    h1 {
      font-family: "Roboto Slab";
      font-size: 55px;
      font-weight: 700;
      z-index: 1;
    }
    h2 {
      z-index: 1;
      font-weight: bold;
      font-family: sans-serif;
      font-size: 45px;
    }
  }
  .info {
    justify-content: center;
    align-items: center;

    .info-logo {
      img {
        width: 250px;
        display: block;
        margin-inline: auto;
      }
    }
    .buttons {
      margin-inline: auto;
      width: fit-content;
      display: flex;
      gap: 15px;
      margin-bottom: 30px;
    }

    .info_text {
      max-width: 950px;
      margin-inline: auto;
      text-align: justify;

      span {
        color: rgb(130, 39, 23);
      }
    }
  }
  .menu_imgs {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-inline: auto;
    margin-top: 30px;
    justify-content: center;

    .meat_imgs {
      img {
        border: 1px solid black;
        border-radius: 10px;
        object-fit: cover;
        width: 200px;
        height: 100px;

        &:hover {
          box-shadow: 2px 2px rgb(130, 39, 23, 0.35);
        }
      }

      .meat_text {
        text-align: center;
      }
    }
  }
  .footer_main {
    margin-top: 30px;
    height: 60px;
    background-color: rgb(130, 39, 23);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;

    .socials {
      display: flex;
    }
  }
}

.easteregg {
  width: 500px;
  position: absolute;
  top: 50%;
  z-index: 999;
  display: none;

  img {
    width: 100%;
  }
}
