.map {
  height: 100vh;
  display: flex;
  flex-direction: column;
  .map_bg {
    background-image: url(../../assets/imgs/bg04.jpg);
    background-size: cover;
    background-position: center;
    min-height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(250, 233, 213);
    font-size: 20px;
    position: relative;

    .map_container {
      max-width: 900px;
      object-fit: cover;
      margin-inline: auto;
      text-align: justify;
      background-color: rgb(94, 75, 60, 0.9);
      color: rgb(250, 233, 213);
      padding: 25px;
      border-radius: 10px;
      align-items: center;
      justify-content: center;
      display: flex;
      flex-direction: column;

      iframe {
        min-width: 800px;
        min-height: 600px;
        border-radius: 10px;
      }

      .map_description {
        padding-top: 10px;
        font-size: 16px;
        text-align: center;
      }
    }
  }
  .more-info {
    flex: 1;
  }
}
