.header {
  width: 100vw;
  max-width: 100%;
  position: relative;

  .header_container {
    display: flex;
    width: 100%;
    max-width: 1024px;
    align-items: center;
    justify-content: space-around;
    margin-inline: auto;

    .header_logo {
      img {
        width: 150px;
      }
    }

    .header_menu {
      ul {
        display: flex;
        font-size: 15px;
        height: 60px;
        gap: 50px;
        li {
          font-family: "Roboto Slab";
          text-transform: uppercase;
          color: rgb(41, 26, 7);
          padding: 10px;

          &:hover {
            color: rgb(130, 39, 23);
            border-bottom: 1px solid rgb(130, 36, 30);
          }
        }
      }
    }
  }

  .header_button {
    display: none;
  }

  .drawer_container {
    height: 100%;
    background-color: rgb(250, 233, 213);
    z-index: 3;
    padding: 20px;

    font-size: 25px;
    ul {
      display: flex;
      flex-direction: column;
      gap: 50px;
    }
  }

  @media screen and (max-width: 768px) {
    .header_container {
      justify-content: space-between;
      .header_logo {
        img {
          width: 120px;
        }
      }
    }
    .header_menu {
      display: none;
    }

    .header_button {
      display: block;
      margin-right: 30px;
    }
  }
}
