.header {
  width: 100vw;

  .header_container {
    display: flex;
    width: 100%;
    max-width: 1024px;
    align-items: center;
    justify-content: space-around;
    margin-inline: auto;

    .header_logo {
      img {
        width: 150px;
      }
    }

    .header_menu {
      ul {
        display: flex;
        font-size: 15px;
        height: 60px;
        gap: 50px;
        li {
          font-family: "Roboto Slab";
          text-transform: uppercase;
          color: rgb(41, 26, 7);
          padding: 10px;

          &:hover {
            color: rgb(130, 39, 23);
            border-bottom: 1px solid rgb(130, 36, 30);
          }
        }
      }
    }
  }
}
