.footer_main {
  margin-top: auto;
  height: 60px;
  background-color: rgb(130, 39, 23);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;

  .socials {
    display: flex;
    gap: 5px;
    cursor: pointer;
  }
}
