:root {
  --font-text: 'Roboto Slab';

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(250, 233, 213);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

